@charset "UTF-8";
/*Обнуление*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: white;
  /* Цвет ссылок */
}

A:visited {
  color: #080808;
  /* Цвет посещенных ссылок */
}

A:active {
  color: blue;
  /* Цвет активных ссылок */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 13px 0;
}

.header_logo {
  text-align: center;
  margin: 41px 0;
}

.header_slogan h1 {
  font-family: Abhaya Libre;
  font-weight: 400;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: 5.70937px;
  text-align: center;
  color: #ffffff;
}
.header_slogan p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.btn {
  margin: 0 0 71px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.7px;
  text-align: center;
  color: #ffffff;
}

hr {
  border: 1px solid #E6E6E6;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.nav {
  padding: 38px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list ul {
  list-style-type: none;
  display: flex;
}
.list ul li {
  color: #48555B;
  margin-right: 35px;
}
.list ul li:last-of-type {
  margin-right: 0;
}
.list ul li:active {
  color: #00A4E5;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 57px 0px 0px 0px;
}

.columns_title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.columns_title .title_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
}
.columns_title .title_line {
  margin: 10px 0px 0px 0px;
}

.columns_main {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

.columns_text {
  display: flex;
  flex-direction: column;
}
.columns_text .text_bold {
  letter-spacing: 0.1875px;
  color: #48555B;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}
.columns_text .text_bold span {
  color: #00A4E5;
}
.columns_text .text_normal {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1875px;
  margin: 30px 0px 0px 0px;
  color: #48555B;
  font-size: 13px;
  line-height: 23px;
}

.columns_pictures {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  height: 100%;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.columns_pictures .column_pictures {
  padding: 15px 0px 0px 15px;
  width: 140px;
  height: 225px;
  align-items: flex-end;
}
.columns_pictures .plan {
  background: url(../img/plan.png) no-repeat center center;
  background-size: cover;
}
.columns_pictures .manage {
  margin-left: 23px;
  background: url(../img/manage.png) no-repeat center center;
  background-size: cover;
}
.columns_pictures .build {
  margin-left: 23px;
  background: url(../img/build.png) no-repeat center center;
  background-size: cover;
}

.capabilities {
  display: flex;
  margin-top: 60px;
  margin-bottom: 72px;
}

.ourcap {
  display: flex;
  flex-direction: column;
}
.ourcap .captext {
  white-space: nowrap;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
}
.ourcap .cupimage {
  margin-top: 10px;
}

.ourtext {
  white-space: nowrap;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin-right: 31.6px;
  margin-left: 155px;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
}

.ourbtn {
  margin-left: 32px;
  padding: 11px 15px;
  width: 140px;
  height: 40px;
  color: #FFFFFF;
  background-color: #00A4E5;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.columnsblock {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 33.333%;
  margin: 0 -13.5px;
}
.columnsblock .culumnsblock_container {
  padding: 38px 22px 38px 22px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid #E6E6E6;
  min-height: 330px;
  margin: 0 13.5px;
}
.columnsblock .columnsblock_column {
  flex: 0 0 33.333%;
}
.columnsblock .columnsblock_column h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555B;
}
.columnsblock .columnsblock_column p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.block_get {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 750px;
  background: url(../img/bg2.png) no-repeat center;
  background-size: cover;
}
.block_get .block_amazing {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 0px 0px 35px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555B;
}
.block_get .amazingbtn {
  padding: 11px 15px;
  width: 140px;
  height: 40px;
  color: #FFFFFF;
  background-color: #00A4E5;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.newslettler_block {
  margin-top: -3px;
  background-color: #171819;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.newslettler_block .newslettler_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-right: 70px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
.newslettler_block .newslettler_form {
  display: flex;
  height: 40px;
  background: #ffffff;
  border: 1px solid #979797;
}
.newslettler_block .newslettler_form .placeholder {
  width: 240px;
  align-self: center;
  margin-left: 10px;
}
.newslettler_block .newslettler_form .amazingbtn {
  padding: 11px 15px;
  width: 140px;
  color: #FFFFFF;
  background-color: #00A4E5;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.firstfooter {
  background: #141A20;
}
.firstfooter .container-footer {
  display: flex;
  justify-content: space-between;
  height: 240px;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}
.firstfooter .container-footer .firstfooter_company {
  display: flex;
  flex-direction: column;
}
.firstfooter .container-footer .firstfooter_company .companytext {
  margin-top: 42px;
  font-family: Open Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
.firstfooter .container-footer .firstfooter_company .companyimage {
  margin-top: 20px;
}
.firstfooter .container-footer .firstfooter_company .companylorem {
  margin-top: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #ffffff;
}
.firstfooter .container-footer .firstfooter_links {
  display: flex;
  flex-direction: column;
}
.firstfooter .container-footer .firstfooter_links .linktext {
  margin-top: 42px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
.firstfooter .container-footer .firstfooter_links .linklists {
  display: flex;
  margin-top: 10px;
}
.firstfooter .container-footer .firstfooter_links .linklists .linklist_1 {
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}
.firstfooter .container-footer .firstfooter_links .linklists .linklist_1 a:visited {
  color: white;
  /* Цвет посещенных ссылок */
}
.firstfooter .container-footer .firstfooter_links .linklists .linklist_1 a:hover {
  color: #00A4E5;
}
.firstfooter .container-footer .firstfooter_contacts {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}
.firstfooter .container-footer .firstfooter_contacts .contact_1 {
  margin-top: 42px;
}
.firstfooter .container-footer .firstfooter_contacts .contact_2 {
  margin-top: 15px;
}
.firstfooter .container-footer .firstfooter_contacts .contact_3 {
  margin-top: 10px;
}
.firstfooter .container-footer .firstfooter_social {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}
.firstfooter .container-footer .firstfooter_social a {
  margin-right: 25px;
}
.firstfooter .container-footer .firstfooter_social .icon {
  fill: white;
  display: block;
  width: 18px;
  height: 18px;
}
.firstfooter .container-footer .firstfooter_social .icon:hover {
  fill: #00A4E5;
}

footer {
  background-color: #171819;
}
footer .footcontainer {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
footer .footcontainer .footer_text {
  font-family: Open Sans;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}